@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('../assets/fonts/roboto.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url('../assets/fonts/roboto-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('../assets/fonts/roboto-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('../assets/fonts/teko.ttf') format('truetype');
}

body {
  overflow: hidden;
}

.root {
  height: 100vh;
  height: 100svh;
  overflow-x: hidden;
  overflow-y: auto;
}
